world_icon.jpeg
/.idea/shelf/
/.idea
**/.mypy_cache/**
**/__pycache__/**
**/GameTests-Shapescape/**
**/.DS_Store
**.blend1
**.xml
behavior_packs/0
resource_packs/0
**/node_modules/**
.eslintrc.json
regolith/filters_data/content_guide_generator/OUTPUT.md
regolith/filters_data/shapescape_validator/validator.txt
regolith/system_template_log.json
debugger/rp 
debugger/bp
Educator-Tools-compiled.code-workspace
/regolith/filters_data/.yalc
regolith/filters_data/yalc.lock
